{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block title %}{{ modemgroup.getModemGroupName }}{% endblock %}

{% block body %}
    <article class="modemgroup">
        <header>
            <h2>{{ modemgroup.getModemGroupName }}</h2>
        </header>
        <div>
            
        </div>
    </article>
{% endblock %}